body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPPJSRp1D7ofkR5nVDuwqxyWnz3-EiVsQgyw&s);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: rgb(240, 11, 11) 2px;
}
#kelly{
   height: 700px;
   width: 1500px;
   margin-top: 20px;
}
#sub{
      border: rgb(255, 0, 0) 3px solid;
    background-color: rgb(2, 2, 8);
    color: rgb(255, 255, 255);
    height: 30px;
    width: 130px;
}
.FACE{
    background-color: rgb(166, 48, 48);
}
#welcome{
    background-color: black;
  color: rgb(240, 19, 19);
  font-size: 20px;
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 5px gray;
}
#h2{
    background-color: rgb(23, 3, 3);
    color: white;
    height: 30px;
    width: 225px;
    text-align: center;
    margin-right: -21PX;
}
#number{
    background-color: rgb(255, 255, 255);
    color: rgb(11, 2, 2);
    font-size: large;
    text-align: center;
    margin-right: 68px;
}
h3{
    color: rgb(19, 18, 18);
}
#facebook-box{
     background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
    margin-right: 93PX;
}
#gmail-box{
     background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
    margin-right: 76px;
}
#twitter-box{
     background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: large;
    text-align: center;
    margin-right: 88px;
}
p{
    color: rgb(6, 6, 6);
}
h5{
    background-color: black;
    color: red;
    font-size: x-large;
}
#pass{
    margin-left: -27px;
}